body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    /* background-color: #fc6767; */
    background: linear-gradient(
        to top,
        #ffffff 0%,
        #ffffff 30%,
        #fc6767 30%,
        #fc6767 100%
      );
}

.container {
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 90%;
}

h1 {
    color: #333;
    margin-bottom: 30px;
}

.dotted-box {
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dotted-box .pdf-logo {
    width: 100px;
    margin-bottom: 70px;
}

button {
    display: flex;
    justify-content: center;
   margin: 10px;
}

#addPdfBtn {
    background-color: #007bff;
    color: white;
    padding: 12px 24px;
    font-size: 18px;
    font-weight:bold;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    text-decoration: none;
    transition: background-color 0.3s;
    margin: 10px;
    min-width: 300px;

}
.pdf-logo{
    margin-bottom: 30px;
}

#addPdfBtn:hover {
    background-color: #52a6ff;
}

#mergeBtn{
    background-color: #0da4e0;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    text-decoration: none;
    transition: background-color 0.3s;
    margin: 10px;   
}
#mergeBtn:hover {
    background-color: #4fccfd;
}

#downloadLink{
    background-color: #4ac416;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-top: 20px;
}
#downloadLink:hover {
    background-color: #59df20;
}
ul {
    list-style-type: none;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px 0;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    min-width: 100px;
}

li {
    margin: 5px 0;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255); 
    z-index: 1; 
    position: relative;
    border-radius:0px ;
    transition:background-color 0.2s;

}

li.dragging {
    z-index: 1000; 
    background-color: #d5d6d6; 
}
li:hover{
    border-radius:5px ;
    background-color: #f4f4f4; 
    

}

li .remove-btn {
    background-color: #f25710;
    border: none;
    color: white;
    cursor: pointer;
    padding: 2px 5px;
    border-radius: 3px;
    margin: 10px;
    font-size: small;
}



.privacy-notice {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #8b8b8b;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.icon-text {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.icon-text svg {
    margin-right: 5px;
}


.loader {

    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.Btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
}

.svgIcon {
  fill: rgb(214, 178, 255);
}

.icon2 {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid rgb(182, 143, 255);
  border-left: 2px solid rgb(182, 143, 255);
  border-right: 2px solid rgb(182, 143, 255);
}

.tooltip {
  position: absolute;
  right: -105px;
  opacity: 0;
  background-color: rgb(12, 12, 12);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .2s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.tooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(12, 12, 12);
  background-size: 1000%;
  background-position: center;
  transform: rotate(45deg);
  left: -5%;
  transition-duration: .3s;
}

.Btn:hover .tooltip {
  opacity: 1;
  transition-duration: .3s;
}

.Btn:hover {
  background-color: rgb(150, 94, 255);
  transition-duration: .3s;
}

.Btn:hover .icon2 {
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
}

.Btn:hover .svgIcon {
  fill: rgb(255, 255, 255);
  animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
